/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #ED7151;
}
.btn-default:hover {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ED7151;
  border: 1px solid #ED7151;
}
.btn-default:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ED7151;
  border: 1px solid #ED7151;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #3B3B3B;
}
body {
  color: #fff;
  text-align: center;
}
body {
  background-image: url("../img/stars.svg");

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/* _________ Mobile view _________  */
.form {
  height: 600px;
  width: 350px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 50px 17px rgba(0,0,0,0.50);
  margin-bottom: 200px;
}

h1.tagline {
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 34px;
  font-weight: 900;
  font-family: OpenSans-Extrabold;
  letter-spacing: 0;

}

p.form-text {
  color: #3B3B3B;
  font-size: 24px;
  padding-top: 50px;
  font-weight: 800;
}

.form-question {
  color: #3B3B3B;
}

/*
 * Affix and center
 */

 /* _________ Phablet _________  */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    /*position: fixed;*/
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

.form {
  height: 600px;
  width: 450px;
  }

h1.tagline {
  padding-top: 80px;
  font-size: 60px;
  font-weight: 900;
  }

p.form-text {
  color: #3B3B3B;
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 25px;
  font-weight: 800;
  }



/* _________ Desktop _________  */

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }

  h1.tagline {
  font-size: 64px;
  }

.form {
  height: 600px;
  width: 450px;
  }
}

